<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="OpenTK" version="3.1.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net472" />
  <package id="SharpGL" version="3.1.1" targetFramework="net472" />
  <package id="SharpGL.SceneGraph" version="3.1.1" targetFramework="net472" />
  <package id="SharpGL.WPF" version="3.1.1" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.3.0.57" targetFramework="net472" />
  <package id="Syncfusion.SfChart.WPF" version="19.3.0.57" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
</packages>